<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Employee List</title>
    </head>
    <body>
        <h1>Employee List</h1>
        <a href="/add_employee">Add Employee</a>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.address }}</td>
                    <td>
                        <a href="/edit_employee/{{ employee.id }}">Edit</a>
                        <a href="/delete_employee/{{ employee.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
